.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  column-gap: 30px;
  text-align: center;
}

.row {
  display: flex;
  align-self: center;
  text-align: center;
}

.prompt {
  text-align: center;
  align-self: center;
}

.button-group {
  align-self: center;
  height: 200px;
}

.action-button {
  margin: 20px;
  width: 80px;
  height: 80px;
}
