.card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  box-shadow: 5px 5px 15px rgba(204, 204, 204, 0.5);
  margin: 20px;
  padding: 12px;
  color: black;
  width: 90vw;
  height: 40vh;
}

.title-centered {
  font-size: 18pt;
  text-align: center;
  font-weight: bold;
}

.title-block {
  padding: 20px;
}

.title {
  text-align: center;
  font-size: 18pt;
  font-weight: bold;
}

.card-content {
  text-align: center;
  align-items: center;
  align-content: center;
}
